@{
    ViewData["Title"] = "Bad Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h1 class="text-danger">400 - Bad Request</h1>
    <p class="lead">There was a problem with your request. Please check the URL and try again.</p>
    <a class="btn btn-secondary mt-3" href="/">Back to Home</a>
</div>