@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h1 class="text-danger">Oops! Something went wrong.</h1>
    <p class="lead">@ViewBag.ErrorMessage</p>
    <a class="btn btn-primary mt-3" href="/">Go back home</a>
</div>