@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
}


        <section class="about-top">
          <div class="image-left">
            <img src="/images/cozycoffee.jpg" alt="Cozy café window" />
          </div>
          <div class="text-right">
            <h1>Find Your Caffeine Fix at Our Cozy Coffee Shop!</h1>
            <p>
              In our cozy coffee shop, we are committed to offering our
              customers the finest quality coffee. With our careful selection of
              beans and expert brewing techniques, we ensure a delightful
              experience with every cup.
            </p>

            <p>
              Experience the rich, aromatic flavours of our carefully
              handcrafted coffee and become a part of our welcoming and vibrant
              community today.
            </p>
            <a href="/Menu/Menu" class="btn-order">Our menu</a>
          </div>
        </section>

        <section class="about-cards">
          <div class="card">
            <img src="/images/Coffee-beans.png" alt="Coffee beans icon" />
            <h3>Quality Beans</h3>
            <p>
              We source the finest beans from around the world, ensuring a rich
              and flavorful brew.
            </p>
          </div>
          <div class="card">
            <img src="/images/Roasting.png" alt="Roasting icon" />
            <h3>Expert Roasting</h3>
            <p>
              Our skilled roasters bring out the unique flavors and nuances of
              each coffee bean.
            </p>
          </div>
          <div class="card">
            <img src="/images/bag.png" alt="Bag icon" style="height: 190px" />
            <h3>Unforgettable Taste</h3>
            <p>
              Experience the rich and aromatic flavors that will leave you
              craving for more.
            </p>
          </div>
        </section>
  
